<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>demo01</display-name>
  <servlet>
    <servlet-name>AdminSer</servlet-name>
    <servlet-class>servlet.AdminSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSer</servlet-name>
    <url-pattern>/AdminSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterSer</servlet-name>
    <servlet-class>servlet.RegisterSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterSer</servlet-name>
    <url-pattern>/RegisterSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PageSer</servlet-name>
    <servlet-class>servlet.PageSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PageSer</servlet-name>
    <url-pattern>/PageSer</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>StudentSer</servlet-name>
    <servlet-class>servlet.StudentSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentSer</servlet-name>
    <url-pattern>/StudentSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Account</servlet-name>
    <servlet-class>servlet.Account</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account</servlet-name>
    <url-pattern>/Account</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUpLoadSer</servlet-name>
    <servlet-class>servlet.FileUpLoadSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpLoadSer</servlet-name>
    <url-pattern>/FileUpLoadSer</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>abc</filter-name>
    <filter-class>filter.MyFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>abc</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>pass</filter-name>
    <filter-class>filter.PassFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>pass</filter-name>
    <url-pattern>/student/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>listener.CountListener</listener-class>
  </listener>
   <servlet>
    <servlet-name>ProvinceSer</servlet-name>
    <servlet-class>servlet.ProvinceSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvinceSer</servlet-name>
    <url-pattern>/ProvinceSer</url-pattern>
  </servlet-mapping>
</web-app>